@import "tailwindcss";

@theme {
	--color-background: oklch(100% 0 0);
	--color-foreground: oklch(9% 0.028 285.935);
	--color-card: oklch(100% 0 0);
	--color-card-foreground: oklch(9% 0.028 285.935);
	--color-popover: oklch(100% 0 0);
	--color-popover-foreground: oklch(9% 0.028 285.935);
	--color-primary: oklch(11% 0.032 285.975);
	--color-primary-foreground: oklch(98% 0.003 285.829);
	--color-secondary: oklch(96% 0.003 285.858);
	--color-secondary-foreground: oklch(11% 0.032 285.975);
	--color-muted: oklch(96% 0.003 285.858);
	--color-muted-foreground: oklch(47% 0.014 285.942);
	--color-accent: oklch(96% 0.003 285.858);
	--color-accent-foreground: oklch(11% 0.032 285.975);
	--color-destructive: oklch(60% 0.16 25.348);
	--color-destructive-foreground: oklch(98% 0.003 285.829);
	--color-border: oklch(91% 0.007 285.873);
	--color-input: oklch(91% 0.007 285.873);
	--color-ring: oklch(9% 0.028 285.935);
	--radius: 0.5rem;
}

* {
	border-color: var(--color-border);
}

body {
	background-color: var(--color-background);
	color: var(--color-foreground);
}
